@font-face{ 
    font-family: 'Silas Sans Bold'; 
    src: url('../fonts/fssilassansweb-bold-webfont.eot'); 
    src: url('../fonts/fssilassansweb-bold-webfont.eot') format('embedded-opentype'), url('../fonts/fssilassansweb-bold-webfont.woff2') format('woff'), url('../fonts/fssilassansweb-bold-webfont.ttf') format('truetype'), url('../fonts/fssilassansweb-bold-webfont.svg') format('svg'); 
}

@font-face{ 
    font-family: 'Silas Sans Bold Italic'; 
    src: url('../fonts/fssilassansweb-bolditalic-webfont.eot'); 
    src: url('../fonts/fssilassansweb-bolditalic-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fssilassansweb-bolditalic-webfont.woff2') format('woff'), 
    url('../fonts/fssilassansweb-bolditalic-webfont.ttf') format('truetype'), 
    url('../fonts/fssilassansweb-bolditalic-webfont.svg') format('svg');
}

@font-face{ 
    font-family: 'Silas Sans Extra Bold'; 
    src: url('../fonts/fssilassansweb-extrabold-webfont.eot'); 
    src: url('../fonts/fssilassansweb-extrabold-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fssilassansweb-extrabold-webfont.woff2') format('woff'), 
    url('../fonts/fssilassansweb-extrabold-webfont.ttf') format('truetype'), 
    url('../fonts/fssilassansweb-extrabold-webfont.svg') format('svg');
}

@font-face{ 
    font-family: 'Silas Sans Extra Bold Italic'; 
    src: url('../fonts/fssilassansweb-extrabolditalic-webfont.eot'); 
    src: url('../fonts/fssilassansweb-extrabolditalic-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fssilassansweb-extrabolditalic-webfont.woff2') format('woff'), 
    url('../fonts/fssilassansweb-extrabolditalic-webfont.ttf') format('truetype'), 
    url('../fonts/fssilassansweb-extrabolditalic-webfont.svg') format('svg');
}

@font-face{ 
    font-family: 'Silas Sans Italic'; 
    src: url('../fonts/fssilassansweb-italic-webfont.eot'); 
    src: url('../fonts/fssilassansweb-italic-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fssilassansweb-italic-webfont.woff2') format('woff'), 
    url('../fonts/fssilassansweb-italic-webfont.ttf') format('truetype'), 
    url('../fonts/fssilassansweb-italic-webfont.svg') format('svg');
}

@font-face{ 
    font-family: 'Silas Sans Light'; 
    src: url('../fonts/fssilassansweb-light-webfont.eot'); 
    src: url('../fonts/fssilassansweb-light-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fssilassansweb-light-webfont.woff2') format('woff'), 
    url('../fonts/fssilassansweb-light-webfont.ttf') format('truetype'), 
    url('../fonts/fssilassansweb-light-webfont.svg') format('svg');
}

@font-face{ 
    font-family: 'Silas Sans Regular'; 
    src: url('../fonts/fssilassansweb-regular-webfont.eot'); 
    src: url('../fonts/fssilassansweb-regular-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fssilassansweb-regular-webfont.woff2') format('woff'), 
    url('../fonts/fssilassansweb-regular-webfont.ttf') format('truetype'), 
    url('../fonts/fssilassansweb-regular-webfont.svg') format('svg');
}
@font-face{ 
    font-family: 'Silas Sans Thin'; 
    src: url('../fonts/fssilassansweb-thin-webfont.eot'); 
    src: url('../fonts/fssilassansweb-thin-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fssilassansweb-thin-webfont.woff2') format('woff'), 
    url('../fonts/fssilassansweb-thin-webfont.ttf') format('truetype'), 
    url('../fonts/fssilassansweb-thin-webfont.svg') format('svg');
}
@font-face{ 
    font-family: 'Silas Sans Thin Italic'; 
    src: url('../fonts/fssilassansweb-thinitalic-webfont.eot'); 
    src: url('../fonts/fssilassansweb-thinitalic-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fssilassansweb-thinitalic-webfont.woff2') format('woff'), 
    url('../fonts/fssilassansweb-thinitalic-webfont.ttf') format('truetype'), 
    url('../fonts/fssilassansweb-thinitalic-webfont.svg') format('svg');
}


$bold: 'Silas Sans Bold';
$bold-italic: 'Silas Sans Bold Italic';
$extra-bold: 'Silas Sans Extra Bold';
$extra-bold-italic: 'Silas Sans Extra Bold Italic';
$italic: 'Silas Sans Italic';
$light: 'Silas Sans Light';
$regular: 'Silas Sans Regular';
$thin: 'Silas Sans Thin';
$thin-italic: 'Silas Sans Thin Italic';
