.container-fluid.page-27 {
  background-color: #0047bb;
  
  .row {
    padding: 0;
    .bg-image {
      background: url("../img/half-page-img.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .container {
      .headline {
        h1 {
          font-size: clamp(3rem, 5vw, 5rem);
          text-align: left;
          color: white;
        }
        padding-bottom: 0;
      }
      .small-paragraph {
        p {
          padding: 0;
          text-align: left;
          color: white;
          font-size: 2.2rem;
        }
      }
      .brand-info {
        .row {
          .img {
            img {
              width: 100%;
            }
          }
          .info {
            @include flex(flex-end, flex-start, column);
            i,a {
              color: rgb(0, 155, 245);
            }
            i {
              font-size: 2rem;
              margin: 0 5px 0 0 ;
            }
            a {
              font-size: 1.4rem;
            }
            hr {
              width: 100%;
              background-color: #aaa;
              margin: .5rem 0;
            }
            .title {
              font-size: 1.4rem ;
              color: #aaa;
            }
            .status {
              margin: 0 .5rem;
              color: white;
              font-size: 1.5rem;
            }
          }
        }
      }
      .text {
        color: white;
        margin: 2rem 0 ;
        font-size: 1.1rem;

        .italic {
          font-family: $italic;
          display: inline-block;
          margin: 10px 0;
        }
      }
    }
  }
}
