.page-20 {
    height: 90vh;
    background: url(../img/growth\ and\ innovation\ -\ 4\ -\ iStock-923038872.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;


    .container {
        height: 100%;
        color: $primary-color;
        @include flex(center, flex-start, column);
        text-align: left;

        .text {
            padding-top: 1rem;
            h1 {
                font-size: clamp(3rem, 20vw, 15rem);
            }
            p {
                text-align: center;
                font-size: 3rem;
                padding: 0;
                padding-bottom: 3rem;
            }
        }
    }
}