.page-18 {
    height: 90vh;
    background: url(../img/growth\ and\ innovation\ -\ 2.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;


    .container {
        height: 100%;
        color: $primary-color;
        @include flex(flex-start, flex-start, column);
        text-align: left;

        .text {
            padding-top: 1rem;
            margin-left: -8rem;
            h1 {
                font-size: clamp(3rem, 20vw, 15rem);
            }
            p {
                font-size: 3rem;
                padding: 0;
                padding-bottom: 4rem;
            }
        }
    }
}