.page-19 {
    height: 95vh;
    background: url(../img/growth\ and\ innovation\ -\ 3.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    background-color: #1e3278;


    .container {
        height: 100%;
        color: #fff;
        @include flex(center, center, column);
        text-align: left;

        .text {
            padding-top: 1rem;
            h1 {
                text-align: center;
                font-size: clamp(3rem, 12vw, 20rem);
                span {
                    font-size: 8rem;
                    display: inline-block;
                    position: relative;
                    bottom: 35px;
                }
            }
            p {
                text-align: center;
                font-size: clamp(1rem, 5vw, 2rem);
                padding: 0;
                padding-bottom: 3rem;
            }
        }
    }
}