.container-fluid.page-26 {
  background-color: #0047bb;
      .text {
        padding: 2rem 2rem ;
        .headline {
          h1 {
              font-size: clamp(3rem, 5vw, 4rem);
              text-align: left;
              color: white;
            }
        }
        .small-paragraph {
            p {
                padding: 0;
              text-align: left;
              color: white;
              font-size: 1.6rem;
          }
      }
      }
  .row {
    
    form {
      margin-left: 2rem;
      .select {
        .dropdown {
          background-color: rgba(255, 255, 255, 0.466);
          border-radius: 5px;
                a {
                    color: $secondary-color;
                    
                }
            }
      }
    }
    .card {
        border: none;
        margin: 1rem 0;
        
        .content {
            background-color: #1e3278;
            padding: 1.3rem;
            position: relative;
            border-radius: 5px;
            height: 100%;
                img {
                width: 50%;
                }

        .text {
          margin: 0.7rem 0;
          h1 {
            font-size: 2rem;
            color: #fff;
            font-family: $regular;
          }
          P {
            margin: 0;
            color: rgba(231, 231, 231, 0.336);
            font-size: clamp(1rem, 4vw, 1.2rem);
            font-family: $extra-bold;
          }
          .tag {
            background-color: yellow;
            position: absolute;
            padding: 0.5rem 1rem;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
