.page-19 {
    height: 90vh;
    background: url(../img/growth\ and\ innovation\ -\ 3.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    background-color: #20347c;


    .container {
        height: 100%;
        color: #fff;
        @include flex(center, center, column);
        text-align: left;

        .text {
            padding-top: 1rem;
            h1 {
                text-align: center;
                font-size: clamp(3rem, 10vw, 20rem);
            }
            p {
                text-align: center;
                font-size: clamp(1rem, 5vw, 3rem);
                padding: 0;
                padding-bottom: 3rem;
            }
        }
    }
}