.container-fluid {
    background-color: #aaa;
    .row {
        padding: 2rem 0 0 0;
        form {
            width: 100%;
            @include flex(space-between, center, row);
            
            .select {
                @include flex();
                margin: 0 0 0 1.2rem;
                .dropdown {
                    background-color: rgba(255, 255, 255, 0.466);
          border-radius: 5px;
                    margin: 0 .5rem;
                .btn {
                    padding: 1rem 1rem;
                }
            }
            .dropdown {
                a {
                    color: #aaa;
                    .all {
                        color: #000;
                        font-family: $bold;
                    }
                }
            }
            }
            
            div {
                input[type=text] {
                    padding: 1rem;
                    font-size: 17px;
                    border: none;
                    float: left;
                    width: 80%;
                    background: #f1f1f1;
                    border-radius: 5px 0px 0 5px;
                }
                button {
                    float: left;
                    width: 20%;
                    padding: 1rem;
                    background: rgb(134, 134, 134);
                    color: white;
                    font-size: 17px;
                    border: none;
                    border-left: none;
                    cursor: pointer;

                    border-radius: 0 5px 5px 0;

                    &:hover {
                        background: #0b7dda;
                    }
                    &::after {
                        content: "";
                        clear: both;
                        display: table;
                    }
                }
            }
        }
        .card {
            background-color: transparent;
            border: none;
            .text {
                margin: .7rem 0;
                h1 {
                    font-size: 1.5rem;
                    color: #0047bb;
                    font-family: $bold;
                }
                P {
                    margin: 0;
                    color: rgb(39, 39, 39);
                }
            }
        }
        .col-text {
            blockquote{
                color: $primary-color;
                &::before {
                    content: '\201c';
                    font-size: 14rem;
                    position: absolute;
                    
                }

                h1 {
                    color: $primary-color;
                    padding: 2rem 0 0 8rem;
                    font-size: clamp(1.2rem, 4vw, 3rem);

                    .down-text {
                        @include flex();
                        
                        .fa {
                            background-color: #0047bb;
                            color: white;
                            padding: 0 1rem;
                            border-radius: 100px;
                            margin: 0 1rem;
                        }
                        P {
                            color: #0047bb;
                            font-size: 1.5rem;
                            padding: 2rem 0;
                            width: 100%;
                        }

                    }
                }
            }
            
        }
    }
}