.container-fluid.page-26 {
  background-color: #0047bb;
      .text {
        padding: 2rem .5rem ;
        .headline {
          h1 {
              font-size: clamp(3rem, 5vw, 4rem);
              text-align: left;
              color: white;
            }
        }
        .small-paragraph {
            p {
                padding: 0;
              text-align: left;
              color: white;
              font-size: 1.6rem;
          }
      }
      }
  .row {
    
    form {
      .select {
        @include flex(flex-start);
        .dropdown {
          background-color: #80a3dd;
          margin: 0;
          margin-left: .5rem;
          border-radius: 5px;
                a {
                    color: #064bbc;
                    
                }
            }
      }
      div {
        input {
        background-color: #80a3dd;
        &::placeholder {
          color: $primary-color;
        }
        }
        button {
          background-color: $primary-color;
        }
      }
      
    }
    .card {
        border: none;
        margin: 1rem 0;
        padding: 0 1.5rem;
        
        .content {
            background-color: #1e3278;
            padding: 1.3rem;
            position: relative;
            border-radius: 5px;
            height: 100%;
                img {
                width: 50%;
                }

        .text {
          margin: 0.7rem 0;
          padding: 0;
          h1 {
            font-size: 2rem;
            color: #fff;
            font-family: $regular;
            margin: 0;
          }
          P {
            margin: 0;
            color: rgba(231, 231, 231, 0.336);
            font-size: clamp(1rem, 4vw, 1.2rem);
            font-family: $italic;
          }
          .tag {
            background-color: yellow;
            font-family: $italic;
            position: absolute;
            padding: 0.5rem 1rem;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
