.page-18 {
    height: 95vh;
    background: url(../img/growth\ and\ innovation\ -\ 2.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;


    .container {
        height: 100%;
        color: $primary-color;
        @include flex(flex-start, flex-start, column);
        text-align: left;
        margin: 0 5rem;
        .text {
            h1 {
                font-size: clamp(3rem, 20vw, 12rem);
                span {
                    font-size: 8rem;
                    display: inline-block;
                    position: relative;
                    bottom: 50px;
                }
            }
            p {
                font-size: clamp(1rem, 5vw, 3rem);
                padding: 0;
                padding-bottom: 4rem;
            }
        }
    }
}