@font-face {
  font-family: 'Silas Sans Bold';
  src: url("../fonts/fssilassansweb-bold-webfont.eot");
  src: url("../fonts/fssilassansweb-bold-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-bold-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-bold-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-bold-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Bold Italic';
  src: url("../fonts/fssilassansweb-bolditalic-webfont.eot");
  src: url("../fonts/fssilassansweb-bolditalic-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-bolditalic-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-bolditalic-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-bolditalic-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Extra Bold';
  src: url("../fonts/fssilassansweb-extrabold-webfont.eot");
  src: url("../fonts/fssilassansweb-extrabold-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-extrabold-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-extrabold-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-extrabold-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Extra Bold Italic';
  src: url("../fonts/fssilassansweb-extrabolditalic-webfont.eot");
  src: url("../fonts/fssilassansweb-extrabolditalic-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-extrabolditalic-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-extrabolditalic-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-extrabolditalic-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Italic';
  src: url("../fonts/fssilassansweb-italic-webfont.eot");
  src: url("../fonts/fssilassansweb-italic-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-italic-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-italic-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-italic-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Light';
  src: url("../fonts/fssilassansweb-light-webfont.eot");
  src: url("../fonts/fssilassansweb-light-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-light-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-light-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-light-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Regular';
  src: url("../fonts/fssilassansweb-regular-webfont.eot");
  src: url("../fonts/fssilassansweb-regular-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-regular-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-regular-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-regular-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Thin';
  src: url("../fonts/fssilassansweb-thin-webfont.eot");
  src: url("../fonts/fssilassansweb-thin-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-thin-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-thin-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-thin-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Thin Italic';
  src: url("../fonts/fssilassansweb-thinitalic-webfont.eot");
  src: url("../fonts/fssilassansweb-thinitalic-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-thinitalic-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-thinitalic-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-thinitalic-webfont.svg") format("svg");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Silas Sans Regular";
}

@media (min-width: 990px) {
  .container p {
    padding: 0 15rem;
  }
}
.container .headline {
  text-align: center;
  padding: 2rem 0;
  color: #00013b;
}
.container .headline h1 {
  font-size: 3rem;
  font-family: "Silas Sans Regular";
}
.container .headline p {
  font-size: 1.2rem;
  font-weight: bold;
}
.container .small-paragraph p {
  text-align: center;
  color: #00013b;
  font-family: "Silas Sans Regular";
  font-weight: 500;
}
.container .scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .scroll-down img {
  width: 2rem;
  animation: movement 2s ease-in-out infinite;
}
.container .scroll-down p {
  padding: 0 1rem;
  margin: 1rem 0;
  color: black;
}
@keyframes movement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.red-box {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #8d0000;
  color: white;
  padding: 1rem 2rem;
}

nav {
  background-color: #00013b;
}
nav .navbar-brand {
  margin-left: 2rem;
  font-size: 1.5rem;
  color: white !important;
}
nav .navbar-nav .nav-item .nav-link {
  color: white;
  font-family: "Silas Sans Extra Bold";
  font-size: .77rem;
  padding-right: 1rem;
}
nav .collapse form input {
  border-radius: 20px;
  border: none;
  padding: .2rem 1rem;
  width: 6rem;
  background-color: #7d9ecf;
}
nav .collapse form input::placeholder {
  color: #00013b;
}
nav .collapse form button {
  background-color: transparent;
  border: none;
}
nav .collapse form button i {
  font-size: 1rem;
  color: #00013b;
  position: absolute;
  right: 28px;
  top: 23px;
}

.page-17 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 1\ -\ iStock-1201050386.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.page-17 .container {
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.page-17 .container .text h1 {
  font-size: clamp(3rem, 10vw, 10rem);
}
.page-17 .container .text p {
  font-size: 2.7rem;
  padding: 0;
  padding-bottom: 4rem;
}

.page-18 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 2.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.page-18 .container {
  height: 100%;
  color: #00013b;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.page-18 .container .text {
  padding-top: 1rem;
  margin-left: -8rem;
}
.page-18 .container .text h1 {
  font-size: clamp(3rem, 20vw, 12rem);
}
.page-18 .container .text p {
  font-size: clamp(1rem, 5vw, 3rem);
  padding: 0;
  padding-bottom: 4rem;
}

.page-19 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 3.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
  background-color: #20347c;
}
.page-19 .container {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.page-19 .container .text {
  padding-top: 1rem;
}
.page-19 .container .text h1 {
  font-size: clamp(3rem, 10vw, 20rem);
}
.page-19 .container .text p {
  text-align: center;
  font-size: clamp(1rem, 5vw, 3rem);
  padding: 0;
  padding-bottom: 3rem;
}

.page-20 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 4\ -\ iStock-923038872.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
}
.page-20 .container {
  height: 100%;
  color: #00013b;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.page-20 .container .text {
  padding-top: 1rem;
}
.page-20 .container .text h1 {
  font-size: clamp(3rem, 20vw, 15rem);
}
.page-20 .container .text p {
  text-align: center;
  font-size: clamp(1rem, 5vw, 3rem);
  padding: 0;
  padding-bottom: 3rem;
}

.page-21 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 5.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
}
.page-21 .container {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.page-21 .container .text {
  padding-top: 1rem;
}
.page-21 .container .text h1 {
  font-size: clamp(3rem, 20vw, 13rem);
}
.page-21 .container .text p {
  font-size: clamp(1rem, 5vw, 3rem);
  padding: 0;
  padding-bottom: 3rem;
}

.container-fluid {
  background-color: #aaa;
}
.container-fluid .row {
  padding: 2rem 0 0 0;
}
.container-fluid .row form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 3rem;
}
.container-fluid .row form .select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container-fluid .row form .select .dropdown {
  margin: 0 .5rem;
}
.container-fluid .row form .select .dropdown .btn {
  padding: .5rem 2rem;
}
.container-fluid .row form div input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 5px 0px 0 5px;
}
.container-fluid .row form div button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #868686;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.container-fluid .row form div button:hover {
  background: #0b7dda;
}
.container-fluid .row form div button::after {
  content: "";
  clear: both;
  display: table;
}
.container-fluid .row .card {
  background-color: transparent;
  border: none;
}
.container-fluid .row .card .text {
  margin: .7rem 0;
}
.container-fluid .row .card .text h1 {
  font-size: 1.5rem;
  color: #084b81;
  font-family: "Silas Sans Bold";
}
.container-fluid .row .card .text P {
  margin: 0;
  color: #272727;
}
.container-fluid .row .col-text blockquote {
  color: #00013b;
}
.container-fluid .row .col-text blockquote::before {
  content: '\201c';
  font-size: 14rem;
  position: absolute;
}
.container-fluid .row .col-text blockquote h1 {
  color: #00013b;
  padding: 5rem 0 0 8rem;
  font-size: clamp(1.2rem, 4vw, 3rem);
}
.container-fluid .row .col-text blockquote h1 P {
  font-size: 1.5rem;
  padding: 2rem 0;
}
.container-fluid .row .col-text blockquote h1 P .fa {
  background-color: #00013b;
  color: white;
  padding: .5rem 1rem;
  border-radius: 100px;
  margin: 0 1rem;
}

.container-fluid.page-26 {
  background-color: #012ca1;
}
.container-fluid.page-26 .container .headline h1 {
  font-size: clamp(3rem, 5vw, 4rem);
  text-align: left;
  color: white;
}
.container-fluid.page-26 .container .small-paragraph p {
  padding: 0;
  text-align: left;
  color: white;
  font-size: 1.3rem;
}
.container-fluid.page-26 .row .card {
  border: none;
  margin: 1rem 0;
}
.container-fluid.page-26 .row .card .content {
  background-color: #00013b;
  padding: 1.3rem;
  position: relative;
  border-radius: 5px;
}
.container-fluid.page-26 .row .card .content img {
  width: 50%;
}
.container-fluid.page-26 .row .card .content .text {
  margin: 0.7rem 0;
}
.container-fluid.page-26 .row .card .content .text h1 {
  font-size: 2rem;
  color: #fff;
  font-family: "Silas Sans Regular";
}
.container-fluid.page-26 .row .card .content .text P {
  margin: 0;
  color: #e7e7e7;
  font-size: clamp(1rem, 4vw, 1.6rem);
  font-family: "Silas Sans Extra Bold";
}
.container-fluid.page-26 .row .card .content .text .tag {
  background-color: yellow;
  position: absolute;
  padding: 0.5rem 1rem;
  top: 0;
  right: 0;
}

.container-fluid.page-27 {
  background-color: #012ca1;
}
.container-fluid.page-27 .row {
  padding: 0;
}
.container-fluid.page-27 .row .bg-image {
  background: url("../img/half-page-img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container-fluid.page-27 .row .container .headline h1 {
  font-size: clamp(3rem, 5vw, 4rem);
  text-align: left;
  color: white;
}
.container-fluid.page-27 .row .container .small-paragraph p {
  padding: 0;
  text-align: left;
  color: white;
  font-size: 1.3rem;
}
.container-fluid.page-27 .row .container .brand-info .row .img img {
  width: 100%;
}
.container-fluid.page-27 .row .container .brand-info .row .info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.container-fluid.page-27 .row .container .brand-info .row .info i, .container-fluid.page-27 .row .container .brand-info .row .info a {
  color: #009bf5;
}
.container-fluid.page-27 .row .container .brand-info .row .info i {
  font-size: 2rem;
  margin: 0 5px 0 0;
}
.container-fluid.page-27 .row .container .brand-info .row .info a {
  font-size: 1.4rem;
}
.container-fluid.page-27 .row .container .brand-info .row .info hr {
  width: 100%;
  background-color: #aaa;
  margin: .5rem 0;
}
.container-fluid.page-27 .row .container .brand-info .row .info .title {
  font-size: 1rem;
  color: #aaa;
}
.container-fluid.page-27 .row .container .brand-info .row .info .status {
  margin: 0 .5rem;
  color: white;
  font-size: 1rem;
}
.container-fluid.page-27 .row .container .text {
  color: white;
  font-size: 1.3rem;
  margin: 2rem 0;
}

.container-fluid.page-28 {
  background-color: #012ca1;
}
.container-fluid.page-28 .headline h1 {
  font-size: clamp(3rem, 5vw, 4rem);
  text-align: left;
  color: white;
  padding: 2rem 2rem;
}
.container-fluid.page-28 .headline img {
  width: 50%;
}
.container-fluid.page-28 .row {
  padding: 0;
}
.container-fluid.page-28 .row .container .brand-info .row .img img {
  width: 100%;
}
.container-fluid.page-28 .row .container .brand-info .row .info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 0;
}
.container-fluid.page-28 .row .container .brand-info .row .info i, .container-fluid.page-28 .row .container .brand-info .row .info a {
  color: #009bf5;
}
.container-fluid.page-28 .row .container .brand-info .row .info i {
  font-size: 2rem;
  margin: 0 5px 0 0;
}
.container-fluid.page-28 .row .container .brand-info .row .info a {
  font-size: 1.4rem;
}
.container-fluid.page-28 .row .container .brand-info .row .info hr {
  width: 100%;
  background-color: #aaa;
  margin: .5rem 0;
}
.container-fluid.page-28 .row .container .brand-info .row .info .title {
  font-size: 1rem;
  color: #aaa;
}
.container-fluid.page-28 .row .container .brand-info .row .info .status {
  margin: 0 .5rem;
  color: white;
  font-size: 1rem;
}
.container-fluid.page-28 .row .side-content .text p {
  color: white;
  font-size: 1.3rem;
  margin: 2rem 0;
}
