@font-face {
  font-family: 'Silas Sans Bold';
  src: url("../fonts/fssilassansweb-bold-webfont.eot");
  src: url("../fonts/fssilassansweb-bold-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-bold-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-bold-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-bold-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Bold Italic';
  src: url("../fonts/fssilassansweb-bolditalic-webfont.eot");
  src: url("../fonts/fssilassansweb-bolditalic-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-bolditalic-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-bolditalic-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-bolditalic-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Extra Bold';
  src: url("../fonts/fssilassansweb-extrabold-webfont.eot");
  src: url("../fonts/fssilassansweb-extrabold-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-extrabold-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-extrabold-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-extrabold-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Extra Bold Italic';
  src: url("../fonts/fssilassansweb-extrabolditalic-webfont.eot");
  src: url("../fonts/fssilassansweb-extrabolditalic-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-extrabolditalic-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-extrabolditalic-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-extrabolditalic-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Italic';
  src: url("../fonts/fssilassansweb-italic-webfont.eot");
  src: url("../fonts/fssilassansweb-italic-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-italic-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-italic-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-italic-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Light';
  src: url("../fonts/fssilassansweb-light-webfont.eot");
  src: url("../fonts/fssilassansweb-light-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-light-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-light-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-light-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Regular';
  src: url("../fonts/fssilassansweb-regular-webfont.eot");
  src: url("../fonts/fssilassansweb-regular-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-regular-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-regular-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-regular-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Thin';
  src: url("../fonts/fssilassansweb-thin-webfont.eot");
  src: url("../fonts/fssilassansweb-thin-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-thin-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-thin-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-thin-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Silas Sans Thin Italic';
  src: url("../fonts/fssilassansweb-thinitalic-webfont.eot");
  src: url("../fonts/fssilassansweb-thinitalic-webfont.eot") format("embedded-opentype"), url("../fonts/fssilassansweb-thinitalic-webfont.woff2") format("woff"), url("../fonts/fssilassansweb-thinitalic-webfont.ttf") format("truetype"), url("../fonts/fssilassansweb-thinitalic-webfont.svg") format("svg");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Silas Sans Regular";
}

@media (min-width: 990px) {
  .container p {
    padding: 0 15rem;
  }
}
.container .headline {
  text-align: center;
  padding: 2rem 0;
  color: #00013b;
}
.container .headline h1 {
  font-size: 3rem;
  font-family: "Silas Sans Regular";
}
.container .headline p {
  font-size: 1.2rem;
  font-weight: bold;
}
.container .small-paragraph p {
  text-align: center;
  color: #00013b;
  font-family: "Silas Sans Regular";
  font-weight: 500;
}
.container .scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .scroll-down img {
  width: 2rem;
  animation: movement 2s ease-in-out infinite;
}
.container .scroll-down p {
  padding: 0 1rem;
  margin: 1rem 0;
}
@keyframes movement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.red-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #8d0000;
  color: white;
  padding: 1rem 2rem;
}

nav {
  background-color: #00013b;
}
nav .navbar-brand {
  margin-left: 2rem;
  font-size: 1.5rem;
  color: white !important;
}
nav .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: .77rem;
  padding-right: 1rem;
}
nav .collapse form input {
  border-radius: 20px;
}

.page-17 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 1\ -\ iStock-1201050386.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.page-17 .container {
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.page-17 .container .text h1 {
  font-size: clamp(3rem, 10vw, 8rem);
}
.page-17 .container .text p {
  font-size: 1.4rem;
  padding: 0;
  padding-bottom: 4rem;
}

.page-18 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 2.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.page-18 .container {
  height: 100%;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.page-18 .container .text {
  padding-top: 1rem;
}
.page-18 .container .text h1 {
  font-size: clamp(3rem, 10vw, 8rem);
}
.page-18 .container .text p {
  font-size: 1.4rem;
  padding: 0;
  padding-bottom: 4rem;
}

.page-19 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 3.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
  background-color: #003f79;
}
.page-19 .container {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.page-19 .container .text {
  padding-top: 1rem;
}
.page-19 .container .text h1 {
  font-size: clamp(3rem, 10vw, 8rem);
}
.page-19 .container .text p {
  text-align: center;
  font-size: 1.4rem;
  padding: 0;
  padding-bottom: 3rem;
}

.page-20 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 4\ -\ iStock-923038872.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
}
.page-20 .container {
  height: 100%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.page-20 .container .text {
  padding-top: 1rem;
}
.page-20 .container .text h1 {
  font-size: clamp(3rem, 10vw, 8rem);
}
.page-20 .container .text p {
  text-align: center;
  font-size: 1.4rem;
  padding: 0;
  padding-bottom: 3rem;
}

.page-21 {
  height: 90vh;
  background: url(../img/growth\ and\ innovation\ -\ 5.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
}
.page-21 .container {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.page-21 .container .text {
  padding-top: 1rem;
}
.page-21 .container .text h1 {
  font-size: clamp(3rem, 10vw, 8rem);
}
.page-21 .container .text p {
  font-size: 1.4rem;
  padding: 0;
  padding-bottom: 3rem;
}
